body{
    margin: 0px;
    padding: 0px;
}
.topbanner{
    background-color:rgb(252, 77, 88);
    color: white;
    align-items: center;
    margin-top: 0%;
    padding:0 10px;
    justify-content: space-between;
    display: flex;
    height: 44px;
    font-size: 14px;
}
.offers{
    text-align: left;
    color: white; 
    text-decoration: none;
   }
.offer{
    text-align: right;
    color:white;
    text-decoration: none;
}
.search{
    display: flex;
    align-items:flex-start;
}
.left-text{
    color: rgb(93, 236, 93);
    margin:50px;
    margin-left: 0px;
    margin-right: 50px;
    
}
.right-text{
    color: rgb(31, 135, 238);
    margin-inline-end: auto;
    margin: 40px;
    margin-right: 0px;
}
img{
    width: 1550px;;
    height: 400px;;
}
.nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}